body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #121212;
    color: white;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #1DB954;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #1DB954;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #17a74a;
}

.results {
    margin-top: 30px;
}

.card {
    background-color: #181818;
    margin: 10px auto;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
}

.song {
    font-size: 16px;
    font-weight: bold;
}

.artist {
    font-size: 14px;
    color: #b3b3b3;
}

.error {
    color: red;
    margin-top: 10px;
}


.play-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #1DB954;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;

}
.play-btn:hover {
    background-color: #17a74a;
}