<!DOCTYPE html>
<html>
<head>
    <title>Mini Spotify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <!-- Header -->
    <h1>🎧 MINI SPOTIFY</h1>
    <p class="subtitle">Find songs similar to your favorite 🎶</p>

    <!-- Search Form -->
    <form method="POST" class="search-box">
        <input type="text" name="song" placeholder="Enter song name..." required>
        <button type="submit">Recommend</button>
    </form>

    <!-- Error Message -->
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <!-- Results -->
    <div class="results">
        {% for song in results %}
            <div class="card">
                <div class="song-name">🎵 {{ song[0] }}</div>
                <div class="artist-name">👤 {{ song[1] }}</div>
                <a href="{{ song[2] }}" target="_blank" class="play-btn">
                ▶️ Play </a>
                
            </div>
        {% endfor %}
    </div>

</div>

</body>
</html>

